/* TODO: This currently has no effect, and thus the popup cannot be styled. */

#Form_ShortcodeForm .shortcode-class,
#Form_ShortcodeForm .shortcode-source,
#Form_ShortcodeForm .shortcode-fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#Form_ShortcodeForm .ui-dialog-titlebar-close {
    display: none;
}
